<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Características de cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".GeneticsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Genetics"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activitys.UserAnimalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.UserAnimalsActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".Edit.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".Create.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".Edit.EditEventActivity"
            android:exported="false" />
        <activity
            android:name=".Edit.EditTreatmentActivity"
            android:exported="false" />
        <activity
            android:name=".Edit.EditIncidentActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.EditAnimalActivity"
            android:exported="false" /> <!-- Actividad principal (MainActivity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Actividad de Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Dashboard principal -->
        <activity
            android:name=".Activitys.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- === ANIMALES === -->
        <!-- Lista de animales -->
        <activity
            android:name=".Activitys.AnimalsActivity"
            android:exported="false"
            android:parentActivityName=".Activitys.DashboardActivity"
            android:screenOrientation="portrait" /> <!-- Detalles del animal -->
        <activity
            android:name=".Activitys.AnimalDetailActivity"
            android:exported="false"
            android:parentActivityName=".Activitys.AnimalsActivity"
            android:screenOrientation="portrait" /> <!-- Agregar nuevo animal -->
        <activity
            android:name=".Create.AddAnimalActivity"
            android:exported="false"
            android:parentActivityName=".Activitys.AnimalsActivity"
            android:screenOrientation="portrait" /> <!-- === INCIDENCIAS === -->
        <!-- Lista de incidencias -->
        <activity
            android:name=".Activitys.IncidentsActivity"
            android:exported="false"
            android:parentActivityName=".Activitys.DashboardActivity"
            android:screenOrientation="portrait" /> <!-- Agregar nueva incidencia -->
        <activity
            android:name=".Create.AddIncidentActivity"
            android:exported="false"
            android:parentActivityName=".Activitys.IncidentsActivity"
            android:screenOrientation="portrait" /> <!-- === TRATAMIENTOS === -->
        <!-- Lista de tratamientos -->
        <activity
            android:name=".Activitys.TreatmentsActivity"
            android:exported="false"
            android:parentActivityName=".Activitys.DashboardActivity"
            android:screenOrientation="portrait" /> <!-- Agregar nuevo tratamiento -->
        <activity
            android:name=".Create.AddTreatmentActivity"
            android:exported="false"
            android:parentActivityName=".Activitys.TreatmentsActivity"
            android:screenOrientation="portrait" /> <!-- === CALENDARIO === -->
        <!-- Vista del calendario -->
        <activity
            android:name=".Activitys.CalendarActivity"
            android:exported="false"
            android:parentActivityName=".Activitys.DashboardActivity"
            android:screenOrientation="portrait" /> <!-- Agregar nuevo evento -->
        <activity
            android:name=".Create.AddEventActivity"
            android:exported="false"
            android:parentActivityName=".Activitys.CalendarActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>